html { height: 100%; }

body {
  height: 90%;
  margin-bottom: 0;
  margin-top: 0;
}

body header {
  min-height: 10%;
  margin: 0;
}
body section {
  height: 90%;
  margin: 0;
  color: white;
  font-family: 'Helvetica', sans-serif;
}
body header {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: white;
  color: black;
}
body header h1 {
  margin-left: 20px;
}
.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: image-url("on_and_on.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-stretch {
  flex-grow: 1;
}
img {
  max-height: 90%;
  max-width: 90%;
  padding: 5px 5px 2px 5px;
  border-radius: 3%;
}
.filmtheme-centercontent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .filmtheme {
  text-align: center;
  flex: 1 0 auto;
  border: 5px solid white;
}
.filmtheme-zoom {
  flex-basis: 100% !important;
}
.filmtheme:hover {
  cursor: pointer;
}
.filmtheme .front {
  display: flex;
  align-items: center;
}
.filmtheme .back {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}
.filmtheme .back .film {
  flex: 1 1 50%;
}
@media all and (max-width: 768px) {
  .filmtheme .back .film {
    flex-basis: auto;
  }
}
.filmtheme .back .film h2 {
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 0;
  margin-bottom: 0;
}
.filmtheme .back .film p {
  margin-top: 0;
}
.filmtheme .back .film a:link, a:visited {
  color: grey;
}
.filmtheme .back .film a:hover {
  color: cyan;
}
.fa-big {
  font-size: 30px;
}
