<% filmtheme.films.each do |film| %>
  <div class='film'>
    <%= image_tag(film.photo_url, alt: '#{film.title} film photo') %>
    <h2><%= film.title %></h2>
    <p><%= film.director.first_name + ' ' + film.director.try(:last_name).to_s %></p>
    <p><%= film.comment %></p>
  </div>
<% end %>
