<div class="container-fluid d-flex flex-column">
  <% @filmthemes.each_with_index do |filmtheme, index| %>
    <% if index % 3 == 0 %>
      <div class='row'>
    <% end %>
        <div class="col-md-4 filmtheme">
          <div class="front">
            <h2>On <%= filmtheme.name %></h2>
          </div>
          <div class="back">
            <%= render partial: 'partying', :locals => {:filmtheme => filmtheme} %>
          </div>
        </div>
    <% if index % 3 == 2 %>
      </div>
    <% end %>
  <% end %>
</div>
