<div id="home-again-container">
  <div class="selected">
    <p style="color: black">Magnetic debut to start off</p>
    <img src="http://www.lestive.com/wp-content/uploads/2017/01/img_thefits-1100x400.jpg">
  </div>
  <div class="next">
    <p style="color: black">The Fits, Anna Rose Holmer</p>
    <img src="https://filmmakermagazine.com/wp-content/uploads/2016/06/THEFITS_STILL_04.jpg">
  </div>
  <div class="next">
    <p style="color: black">Canne(d good)s</p>
    <img src="https://pad.mymovies.it/cinemanews/2017/147236/covermd_home.jpg">
  </div>
  <div class="next">
    <img src="http://fr.web.img3.acsta.net/pictures/17/08/16/11/56/492383.jpg">
  </div>
</div>

<div class="buttons">
  <button id="prev">Prev</button>
  <button id="next">Next</button>
</div>
