<div class="home-container">
  <% @filmthemes.each_with_index do |filmtheme, index| %>
    <% if index % 3 == 0 %>
      <div class='row row-stretch'>
    <% end %>
        <div class="filmtheme filmtheme-centercontent">
          <div class="front">
            <h2>On <%= filmtheme.name %></h2>
          </div>
          <div class="back" style="display: none">
            <%= render partial: 'filmtheme', :locals => {:filmtheme => filmtheme} %>
          </div>
        </div>
    <% if index % 3 == 2 %>
      </div>
    <% end %>
  <% end %>
</div>
